body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Roboto Serif', serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.form-section {
  flex: 1;
  margin-bottom: 200px;
  margin-right: 10px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -30px;
  justify-content: center;
  margin-right: 30px;
}

.header-logo img {
  width: 180px;
  height: auto;
  margin-top: 30px;

}

.header-logo h2 {
  color: #662A4D;
  font-size: 35px;
  margin: 0;
  font-family: 'Roboto Serif', serif;
}

.form-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;

}

.form-side input {
  width: 80%;
  padding: 12px 12px 10px 12px; 
  margin-bottom: 25px;
  border: none;
  border-bottom: 2px solid #662A4D;
  border-radius: 0px ; 
  font-size: 16px;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.form-side input:focus {
  outline: none;
  border-bottom: 2px solid #CD46FF;
}


input::placeholder {
  color: black;
  font-family: 'Roboto Serif', serif;
}

.form-side button {
  width: 40%;
  padding: 12px;
  background-color: #C3A0C1;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-family: 'Roboto Serif', serif;
  cursor: pointer;
  border: 2px solid #662A4D;

}

.form-side button:hover {
  
    background-color: #FFECFE;
    color: #662A4D;
  
}

.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.image-side img {
  max-width: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin-left: 110px;
  height: 100vh;
  position: fixed;
  bottom: 0px;

}



@media (max-width: 768px) {

  .image-side {
    display: none;
  }

  .container {
    flex-direction: column;
    padding: 20px;
  }

  .form-section {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    padding: 20px;
    background-color: transparent;
  }

  .form-side input, 
  .form-side button {
    width: 100%;
  }

  .header-logo {
    flex-direction: column;
    justify-content: center;
  }
}

