
body {
    font-family: 'Roboto Serif', serif;
    margin: 0;
    background-color: white;
}

strong {
    color: #662A4D;
}

p {
    color: black;
    font-size: 25px;
    margin: 20px 0 8px 0;
}

i {
    margin-right: 10px;
}

span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
}

.profil-container {
    display: flex;
    height: fit-content;
    width: fit-content;

}

.profil-left {
    width: 50%;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #4a2b4d;
    margin-right: 40px;
    margin-top: -30px;
}

.profil-right {
    width: 50%;
    background-size: cover;
    background-position: center;
}

.profil-right img {
    width: 70%;
    height: 100vh;
    object-fit: cover;
    margin-left: 200px;
}

.certificat-btn {
    background-color: #CD46FF;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
    margin-top: 100px;
    margin-left: 250px;
    width: 60%;
}

.certificat-btn:hover:not(.disabled) {
    background-color: #CD46FF;
}

.certificat-btn.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
    border: #662A4D solid 2px;
    background-color: #C3A0C1;
    color: black;
}
.btn:hover{
    background-color: #FFECFE;
    color: #662A4D;
}
.progress-bar {
    width: 80%;
    background-color: white;
    border-radius: 30px;
    height: 30px;
    overflow: hidden;
    margin-top: 5px;
    border: #662A4D solid 2px;
}

.progress {
    height: 100%;
    background-color: #662A4D;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

.para {
    margin-top: 40px;
}

.para p,
.para strong {
    font-size: 25px;
    margin-top: 20px;
}
.flex{
    display: flex;
    gap: 40px;
}

@media (max-width: 768px) {
    .profil-container {
        flex-direction: column;
        width: 95vw;
    }

    .profil-left,
    .profil-right {
        width: 100%;
        margin: 0;
        padding: 15px;
    }

    .profil-right img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .certificat-btn {
        width: 100%;
        margin-left: 0;
        margin-top: 200px;
        padding: 10px 15px;
        font-size: 18px;
    }

    p, .para p, .para strong {
        font-size: 18px;
    }

    .btn {
        width: 100%;
        text-align: center;
        padding: 12px 15px;
    }

    .flex {
        flex-direction: column;
        gap: 20px;
    }
}

