*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site-footer {
  background-color: #FFECFE;
  color: black;
  padding: 40px 0 20px 0;
  font-family: sans-serif;
}

.footer-container {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0 20px;
}

.footer-section {
  flex: 1 1 220px;
}

.footer-section h2,
.footer-section h3 {
  color: #662A4D;
  margin-bottom: 20px;
  text-align: center;
    font-family: 'Roboto Serif', serif;

}
p{
    text-align: center;
}
#i{
    margin-left: 0;
}
.footer-section ul {
  list-style: none;
  text-align: center;
  padding: 0;
  font-family: 'Roboto Serif', serif;

}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  color: black;
  text-decoration: none;
font-family: 'Roboto Serif', serif;
    font-weight: bold;


}
p{
font-family: 'Roboto Serif', serif;
font-size: 15px;
line-height: 1.5;
    font-weight: bold;

}
.footer-section a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  font-size: 14px;
  color: #ccc;
  width: 100%;
  color: black;
}
i{
    color: #662A4D;
    margin-left: 10px;
}

  .social-circle {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

.social-circle {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-circle a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #662A4D;
  color: white;                  
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}
i{
    margin-right: 10px;
}

.social-circle a:hover {
  background-color: #C3A0C1;
  transform: scale(1.1);
}
  