
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
    background-image: url('../images/certficat.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.contenu-certificat {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #000;
    padding-top: 120px;
}

.contenu-certificat h1 {
    font-size: 48px;
    margin-bottom: 60px;
    font-weight: bold;
}

.contenu-certificat p {
    font-size: 26px;
    line-height: 2.2;
}

.nom-beneficiaire {
    color: #A84AC5;
    font-weight: bold;
    font-size: 30px;
}

.footer-infos {
    position: absolute;
    bottom: 60px;
    width: 90%;
    max-width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    color: #000;
    text-align: center;
}

.footer-infos .signature {
    text-align: center;
}

.signature-name {
    font-family: 'Brush Script MT', cursive;
    font-size: 32px;
}
.logo-certificat {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 250px;
    height: auto;
    z-index: 10;
}
